// Define grid container
// ------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1120px,
  xl: 1360px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1140px,
  xl: 1400px
);

// Define colors
// ------------------------------------------------
$theme-colors: (
  "primary": #42a692,
  "dark": #1a171b,
  "facebook": #3b5998,
  "twitter": #00b2ff,
  "action": #e83924,
);

// Fonts
// ------------------------------------------------
$font-size-base: 1rem;
$font-family-base: 'Open Sans', sans-serif;

$input-btn-padding-x: 1.5rem;
$input-btn-padding-x-lg: 2.3rem;
$input-btn-padding-y-lg: 0.7rem;

// all styles
@import 'all';
