.nav{
  &-cart{
    font-size: 25px;
  }
  &-cart__item{
    position: absolute;
    top: 25px;
    right: 3px;
  }
  &-cart__item-number{
    background: pink;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}
